.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

img {
    width: 100%;
}
video {
    
}

.columna {
    -webkit-box-flex: 33.3%;
    -ms-flex: 33.3%;
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
}

.columna img {
    margin-top: 8px;
    vertical-align: middle;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

section.galeria {
    margin-top: 0rem;
    background-color: black;
}

section.galeria h2 {
    font-family: 'Gentium Basic', serif;
    font-weight: bold;
    font-size: 2.6rem;
    letter-spacing: .1rem;
    color: white;
    text-align: center;
    padding: 2rem;
}

section.galeria h2 {
    background-color: #3f5042;
}

section.galeria img:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.titulo-seccion{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 420px;
    overflow: hidden;
    position: relative;
    border-top: 2rem solid  rgb(32, 41, 32);
    border-bottom: 2rem solid rgb(32, 41, 32);
    width: 100%;
}

.titulo-seccion {
    background-image: url(../img/galeria/foto21.jpg);
    /* background-image: url(../img/fondo-texto3.jpg); */
}


/* titulo overlay cutout */
.titulo-seccion .text {
    background-color: white;
    color: black;
    font-size: 6vw;
    font-weight: bold;
    left: 50%;
    margin: 0 auto;
    mix-blend-mode: screen;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
}