/* Estilos barra de navegación y logo */
nav {
    background: white;
    padding: 0 40px;
    border: 1px solid #707070;
    font-family: 'Montserrat' ;
}

ul {
    list-style-type: none;
}

a {
    color: #707070;
    text-decoration: none;
}

.item a:hover {
    transition: background-color .3s ease-in-out;
    background-color: rgb(192, 192, 192);
}

.menu li {
    font-size: 1.6rem;

}

.textoLogo {
    font-family: 'Monoton';
    font-size: 2.5rem;
    color: #30D947;
}

.toggle a {
    font-size: 20px;
}

/* menu  para teléfonos*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
     
}

.item a {
    display: block;
    padding: 1.2rem 0;
}

