/* Estilos barra de navegación y logo */
nav {
    background: white;
    padding: 0 40px;
    border: 1px solid #707070;
    font-family: 'Montserrat' ;
}

ul {
    list-style-type: none;
}

a {
    color: #707070;
    text-decoration: none;
}

.item a:hover {
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    background-color: rgb(192, 192, 192);
}

.menu li {
    font-size: 1.6rem;

}

.textoLogo {
    font-family: 'Monoton';
    font-size: 2.9rem;
    color: rgb(39, 177, 57);
}

.toggle a {
    font-size: 20px;
}

/* menu  para teléfonos*/

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.toggle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.item {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
}

.item.active {
    display: block;
     
}

.item a {
    display: block;
    padding: 1.2rem 0;
}
