/* Tablet */
@media screen and (max-width: 800px) {
  .columna {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 32%;
  }

  .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section.galeria img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}