
/* Movil */
@media screen and (max-width: 600px) {
    .columna {
      flex: 100%;
      max-width: 100%;
    }
    section.galeria img:hover {
      transform: none;
    }
    section.galeria img {
      filter: brightness(100%);
    }
  }
  